* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
    background: radial-gradient(
      107.9% 107.9% at 50% 50%,
      rgba(27, 28, 33, 0) 0%,
      rgba(27, 28, 33, 0.81) 72.36%
    );
}

/* ::-webkit-scrollbar { 
    display: none; 
} */


::-webkit-scrollbar {
    background: rgba(55, 55, 55, 0.2);
    border-radius: 5px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(251, 0, 78, 0.7);
    border-radius: 5px;
}
