* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    transition: all 1s;
}

@font-face {
    font-family: 'PFDinDisplayPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('PFDinDisplayPro-Regular'), url('PFDinDisplayPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'PFDinDisplayPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PFDinDisplayPro-Bold'), url('PFDinDisplayPro-Bold.woff') format('woff');
}


body {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* ---------------------------------------------- */


header {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    zoom: .8;
}

.location {
    position: relative;
    font-weight: 300;
    border-radius: 5px;
    /* text-transform: uppercase; */
    padding: 20px 15px 15px 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.location::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(36, 36, 36, 0.527), transparent);
}



.infoText {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.infoText p span {
    color: rgba(255, 255, 255, 0.541);
}

.infoText img {
    margin-right: 5px;
    height: 14px;
}

.infoFooter-container {
    display: flex;
    align-items: center;
}

.infoFooter-container .infoText {
    position: relative;
    top: 2px;
    height: 25px;
    padding: 0 7px;
    border-radius: 5px;
}

/* ---------------------------------------------- */

footer {
    position: absolute;
    right: 40px;
    top: calc(100% - 70px);
    display: flex;
    padding: 5px;
    align-items: center;
    transition: all 1s;
    border-radius: 5px;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    margin-right: 5px;
}

footer .talkText {
    padding: 5px;
    font-size: 10px;
    border-radius: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #FF004E;
}

.qTalk {
    height: 10px;
    width: 10px;
    margin: 0px 3px;
    border-radius: 3px;
    background-color: white;
}

/* -------------------------------------------------------------------------------------- */

.carHud-container {
    height: 100%;
    width: 300px;
    position: absolute;
    right: -10px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    transition: all 1s;
}

.veloBar {
    height: 279.2px;
    width: 279.2px;
    clip-path: path('M223.448477,218.666668Q195.793012,218.666668,142.837241,218.666668C89.881469,218.666668,82.108145,240.722757,59.759837,265.202592L53.448477,265.202592L56.492046,261.098522C78.840353,236.618687,86.613678,214.562598,139.569449,214.562598Q192.525221,214.562598,223.448477,214.562598L223.448477,218.666668Z');
    background-color: rgba(255, 255, 255, 0.349);
    position: absolute;
}

.veloFill {
    height: 100vh;
    background-color: white;
    transition: all .5s;
    transform: translate(54px, 102px);
}

.veloText {
    margin-right: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.veloText h1 {
    color: white;
    font-family: 'PFDinDisplayPro-Bold';
    font-size: 30px;
}

.veloText img {
    height: 22px;
    margin-right: 10px;
    filter: invert(1);
}

.defaultVelo {
    color: rgba(255, 255, 255, 0.335);
}

.kmText {
    font-size: 16px;
    margin-left: 2px;
    color: rgba(255, 255, 255, 0.335);
}

/* ------------------------------------------------- */

.gasText {
    margin-right: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-bottom: 25px;
}

.gasText img {
    height: 15px;
}

.gasText p {
    color: white;
    font-family: 'PFDinDisplayPro-Bold';
    margin-right: 5px;
}

.gasText p span {
    color: rgba(255, 255, 255, 0.335);
}

.logo {
    height: 90px;
    align-self: flex-start;
    position: absolute;
    top: 110px;
    right: 35px;
    opacity: 50%;
}

/* --------------------------------------------------------- */

.normalContainer {
    height: 50px;
    width: 190px;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3px;

    bottom: 45px;
    margin-top: 5px;
    left: 0px;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    zoom: .8;
}

.normalContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgba(36, 36, 36, 0.527), transparent);
}

/* ------------------------------------------------------------------- */


.normal-hud {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.normal-hud img {
    height: 15px;
    position: absolute;
}

.circleHud-container {
    height: 100px;
    width: 100%;
}

.svgCircle {
    height: 45px;
    width: 45px;
}

.svgCircle circle {
    fill: none;
    stroke-width: 4px;
    stroke-dasharray: 113;
    transition: all .5s;
    transform: rotate(-90deg);
    transform-origin: center;
}

.circleFill {
    stroke: #FF004E;
    stroke-dashoffset: 100;
}

.circleBack {
    stroke: #ffffff2a;
    stroke-width: 3.2px;

}

/* -------------------------------------------------------- */